/* Example of using the "Merriweather" font */
.app-header {
  background-color: #ffb6c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 4vmin);
  text-align: center;
  color: white;
  font-family: 'Merriweather', serif; /* Use the Merriweather font or another serif font */

  .app-logo {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 10px; /* Add some spacing below the logo */
  }

  small {
    color: green;
  }
}

.film-item {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Merriweather', serif;
}
